body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: #fdf8f2;
    color: #5a4634;
    text-align: center;
  }
  
  .start-screen {
    margin-top: 100px;
  }
  
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .btn {
    padding: 15px 40px;
    background: #8c6b49;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #timer {
    font-size: 22px;
    margin: 20px;
  }
  
  .grid {
    width: 640px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 15px;
  }
  
  .card {
    width: 150px;
    height: 150px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card.flip {
    transform: rotateY(180deg);
  }
  
  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 12px;
  }
  
  .front {
    transform: rotateY(180deg);
  }
  
  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: #5a4634;
    border: 2px solid #5a4634;
    background: transparent; /* SIN FONDO */
  }
  