body {
    margin: 0;
    font-family: "Playfair Display", serif;
    background-color: #fdf8f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* PANTALLAS */
.pantalla {
    text-align: center;
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

/* INICIO */
.titulo-inicio {
    font-size: 3rem;
    color: #5a3e2b;
    margin-bottom: 20px;
}

.instrucciones-inicio {
    margin: 20px auto;
    width: 80%;
    font-size: 1.2rem;
}

.btn {
    background-color: #b88a50;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover {
    background-color: #d9aa66;
}

/* TABLERO */
.game-board {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    width: 150px;
    height: 150px;
    border: 5px solid #b88a50;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

/* FOTOS */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

/* FICHA DORSO */
.card .dorso {
    width: 100%;
    height: 100%;
    background-color: #f8f4ec;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: #5a3e2b;
    position: absolute;
    top: 0;
    left: 0;
}

/* FICHA MOSTRADA */
.card.flipped img {
    display: block;
}

.card.flipped .dorso {
    display: none;
}

/* MODALES */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff7ee;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    border: 4px solid #b88a50;
}

/* GALERÍA */
.galeria-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.galeria-grid img {
    width: 100%;
    height: auto;
    border: 5px solid #b88a50;
    border-radius: 12px;
    cursor: pointer;
}

/* PREVIEW */
.preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-content {
    background: #fff7ee;
    padding: 25px;
    border-radius: 10px;
    max-width: 450px;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .game-board {
        grid-template-columns: repeat(2, 150px);
    }
}
