body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #f7f2e9;
    color: #3e2c1c;
    text-align: center;
}

.screen {
    display: none;
    padding: 20px;
}

.screen.visible {
    display: block;
}

.title {
    font-size: 3rem;
    margin-top: 100px;
}

.btn {
    background: #8b5a2b;
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.btn:hover {
    background: #714922;
}

.start {
    margin-top: 40px;
}

.board {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.card {
    width: 100%;
    height: 120px;
    background: #d5bea3;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.4s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* evita recortes */
    border-radius: 10px;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back {
    background: #8b5a2b;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.top-bar {
    font-size: 1.4rem;
    margin-top: 20px;
}

.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 18px;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.gallery-item {
    background: white;
    padding: 15px;
    border-radius: 12px;
}
